@media screen and (max-width: 1080px) {
	#pfp, .image-1 {
		transition: none;
	}

	.image-container:hover .bg,
	.image-container:hover .image-1 {
		bottom: 0px;
		left: 0px;
	}

	.body-container {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 10px;
		width: 100%;
	}

	.header {
		width: 100%;
		background-image: url(assets/profile/phone-pfp.png);
		display: grid;
		place-items: center;
	}

	.image-container {
		display: none;
		flex-direction: column;
	}

	.about-col-1 img {
		border-radius: 15px;
		height: auto;
		width: 100px;
		display: block;
		margin: 0 auto;
	}

	.navlinks, .row {
		display: none;
	}

	.row-2 {
		display: block;
	}

	.title {
		color: var(--secondary-color);
		text-align: center;
		transition: all 0.3s ease-in-out;
	}

	h1.titled, h2.titled {
		font-size: 16pt;
		color: var(--secondary-color);
		text-align: center;
		margin: 10px 0;
		transition: all 0.3s ease-in-out;
	}

	h1.titled-3, h1.titled-7 {
		font-size: 20pt;
		background: linear-gradient(-541deg, #FFD700, #bc8314, #422006);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-align: center;
	}

	.social {
		display: flex;
		position: relative;
		flex-wrap: wrap;
		margin-top: 100px;
		gap: 1rem;
		justify-content: center;
		align-items: center;
	}

	.social-2 {
		margin-top: 20vh;
		padding: 10px;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: var(--primary-color);
		transition: all 0.3s ease-in-out;
	}

	.social-2 a {
		display: inline-block;
		font-size: 1.2rem;
		margin: 0 10px;
	}

	footer {
		text-align: center;
		background: var(--primary-color);
		padding: 10px;
	}

	.compatibility, .phone-text {
		display: block;
		width: 100%;
		padding: 0 15px;
		text-align: center;
	}

	p.subtitle-phone {
		font-size: 14pt;
		padding: 5px;
		text-align: center;
		width: 90%;
		margin: 0 auto;
	}

	.tab-contents-2 ul li {
		list-style: none;
		margin: 10px 0;
		text-align: center;
		padding-left: 0;
		color: var(--secondary-color);
	}
}
